.results {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
}

.team {
    flex-direction: column;
}

.teamTitle {
    margin: 2px;
    text-align: left;
    font-size:40;
}

.players {
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playerContainer {
    margin:4px;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.playerData {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
}

.playerName {
    height: 60px;
    margin: 2px;
    font-size: 30;
    text-align: center;
}

.playerCard {
    margin: 8px;
}

.extraCards {
}

.extraCard {
    margin: 5px;
    width: 50px;
}

.zoomImage {
    background-color: white;
    position: absolute;
    height:600px;
    padding: 15px;
    border-style: solid;
    border-radius:30px;
    border-width:2px;
}

.statsBlock {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;

    margin: 30px;
    padding: 5px;
    border-style: solid;
    border-radius:5px;
    border-width:1px;
}

.stat {
    margin: 10px;
    font-size: 20;
    text-align: center;
}